body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Fixed header styles */
#header {
  background-color: #ff7c02;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
/* Contact information styles */
.contact-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}


#slider {
background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
padding: 40px;
background-attachment: fixed;
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
transform: translateZ(0);
z-index: -1;
}

#about {
padding: 40px;
}

.card {
  margin-bottom: 20px;
}

#services {
  padding: 40px;
  background-color: beige;
}



.cta-banner {
  background-color: #ff7c02; /* Change the background color as needed */
  color: #ffffff; /* Change the text color as needed */
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  
}

.cta-text {
  margin-bottom: 15px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: #ffffff; /* Change the button background color as needed */
  color: #ff7c02; /* Change the button text color as needed */
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #ff7c02;
  border: solid 0.5px#fff; /* Change the button background color on hover as needed */
  color: #fff; /* Change the button text color on hover as needed */
}

.locbox{
  text-align: center;
  background-color: #ff7c02;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}

#whybelieve {
  background-color: bisque;
  padding: 40px;
}

#testimonials{
padding: 40px;
background-color: antiquewhite;
}

.card {
  margin-top: 40px;
  padding: 15px;
}


    /*----------------------------------------------------*/


    .contact {
      padding: 130px 0;
  }
  
  .contact .heading h2 {
      font-size: 30px;
      font-weight: 700;
      margin: 0;
      padding: 0;
  
  }
  
  .contact .heading h2 span {
      color: #ff9100;
  }
  
  .contact .heading p {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.7;
      color: #999999;
      margin: 20px 0 60px;
      padding: 0;
  }
  
  .contact .form-control {
      padding: 25px;
      font-size: 13px;
      margin-bottom: 10px;
      background: #f9f9f9;
      border: 0;
      border-radius: 10px;
  }
  
  .contact button.btn {
      padding: 10px;
      border-radius: 10px;
      font-size: 15px;
      background: #ff9100;
      color: #ffffff;
  }
  
  .contact .title h3 {
      font-size: 18px;
      font-weight: 600;
  }
  
  .contact .title p {
      font-size: 14px;
      font-weight: 400;
      color: #999;
      line-height: 1.6;
      margin: 0 0 40px;
  }
  
  .contact .content .info {
      margin-top: 30px;
  }
  .contact .content .info i {
      font-size: 30px;
      padding: 0;
      margin: 0;
      color: #02434b;
      margin-right: 20px;
      text-align: center;
      width: 20px;
  }
  .contact .content .info h4 {
      font-size: 13px;
      line-height: 1.4;
  }
  
  .contact .content .info h4 span {
      font-size: 13px;
      font-weight: 300;
      color: #999999;
  }


  .banner{
    position: relative;
    color: #ffffff;
    overflow: hidden;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba( 0, 0, 0, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
   
    .banner .slick-arrow.slick-prev{
    left:-265px;
    }
    .banner .slick-arrow.slick-next{
    right:-900px; 
    }
    .banner .slick-arrow {
    background: rgba(255,255,255,.3);
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    top: 50%;
    transition: all 0.3s linear;
    }
    .banner .slick-arrow:after{
    display: none;
    }
   
    .banner .slick-arrow>span {
    display: inline-flex;
    }
    



    
.footer-section {
  background: #ff7c02;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #fff;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #fff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #fff;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #fff;
}
.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
}
.copyright-area{
  background: #ff7c02;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
.copyright-text p a{
  color: #fff;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #10f884;
}
.footer-menu li a {
  font-size: 14px;
  color: #10f884;
}